*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenitore{
    width: 80%;
    margin:auto;
    position: relative;
}

.head::after{
    clear: both;
    content: '';
    display: table;
}
 
img{
    height: 4rem;
    position: relative;
    top: 0;
    left:50%;
    transform: translateX(-50%);
}

.head{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

#SingIn, .button{
    float: right;
    margin-right: 1rem;
    border-radius: 0.8rem;
    padding: 0.25rem;
    
}

.text{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bolder;
}

.button{
    background-color: white;
    font-weight: bold;
    border: 0;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.089);
}

#SingIn{
    color: white;
    background-color: black;
}

nav{
    height: 4rem;
}

.option{
    width: calc(100%/6 - .3rem);
    height: 100%;
    border: 1px solid black;
    float: left;
    border-radius: 1rem;
    margin-left: 0.3rem;
    position: relative;
}

.option_text{
    position: absolute;
    top:.7rem;
    left: 1rem;
    font-weight: bold;
    font-size: 0.85rem;
    display: inline-block;
}

.scr{
    border: 1px solid black;
    height: 16rem;
    width: 100%;
    margin-top: 1.5rem;
    position: relative;
    text-align: center;
    background-image: url(./img/Vacation.jpg);
    background-size: cover;

}


input{
    height: 3rem;
    width: 50%;
    border-radius: 5rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) 
    translateY(-50%)
}

input[type="text"]{
    text-align: center;
}

.Experience{
    position: relative;
    border: 1px solid black;
}

.image, .text_under_image{
    display: inline-block;
    width: calc(100%/4);
    height: 20rem;
    border: 1px solid black;
    float: left;
}




